<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje de contacto</title>
  <style>
    /* Estilos en línea para asegurar compatibilidad */
    body {
      font-family: 'Poppins', sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 0;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    header, footer {
      background-color: #007BFF;
      color: white;
      padding: 10px;
      text-align: center;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    h1 {
      margin: 0;
      font-size: 24px;
    }

    main {
      padding: 20px;
    }

    h2 {
      font-size: 20px;
      color: #333333;
    }

    p {
      margin: 10px 0;
    }

    strong {
      color: #007BFF;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <h1>Contacto por medio de portafolio</h1>
    </header>
    <main>
      <h2>Nuevo mensaje de contacto</h2>
      <p><strong>Nombre:</strong> <%= @name %></p>
      <p><strong>Email:</strong> <%= @email %></p>
      <p><strong>Mensaje:</strong></p>
      <p><%= @message %></p>
    </main>
    <footer>
      <p>&copy; 2024 Alberto Servin</p>
    </footer>
  </div>
</body>
</html>
